<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
    body {
        background: #F0F0F0;
    }
    a {
        font-size: 20px;
        font-family: monospace, sans-serif;
    }
    </style>
    <title>html & CSS 测试主页</title>
</head>
<body>
    <h1 id="top-title">《Head First HTML & CSS》代码测试页</h1>
    <a href="/login">【点击登陆】</a>
    <!-- <img src="/static?file=doge.gif"/>
    <img src="/static?file=doge1.jpg"/>
    <img src="/static?file=doge2.gif"/> -->
</body>
</html>
