<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
    body {
        background: #F0F0F0;
    }
    a {
        font-size: 20px;
        font-family: monospace, sans-serif;
    }
    </style>
    <title>Web测试主页</title>
</head>
<body>
    <h1 id="top-title">Hello {{username}}</h1>
    <h3>{{replace}}</h3>
    <img src="/static?file=doge.gif"/>
    <img src="/static?file=doge1.jpg"/>
    <img src="/static?file=doge2.gif"/>

    <a href="/messages">
</body>
</html>
